* {
  border: none;
  border-radius: 0px;
  font-family: "FiraCode Nerd Font";
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
}

/*
.modules-center {
  background-color: #232634;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px 5px 0px 5px;
}
*/

.modules-right {
  background-color: #232634;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px 5px 0px 5px;
}

#workspaces {
  background-color: #232634;
  border-radius: 20px;
  color: #f2d5cf;
  padding: 0px 10px;
  margin: 5px 5px 2px 5px;
}

#tray {
  background-color: #232634;
  border-radius: 20px;
  padding: 0px 10px;
  margin: 5px 5px 2px 5px;
}

#window {
  background-color: #232634;
  color: #ea999c;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px 5px 2px 5px;
}

#custom-notification {
  background-color: #232634;
  border-radius: 20px;
  color: #babbf1;
  padding: 5px 10px;
  margin: 5px 5px 2px 5px;
  }

#custom-notification button {
  background-color: #232634;
}

#custom-notification button.hover {
  background-color: #babbf1;
  color: #232634;
}

#backlight {
  color: #99d1db;
  border-radius: 20px;
  padding: 0px 10px;
  margin: 5px 5px 2px 5px;
}

#pulseaudio {
  color: #babbf1;
  border-radius: 20px;
  padding: 0px 10px;
  margin: 5px 5px 2px 5px;
}

#network {
  color: #c6d0f5;
  border-radius: 20px;
  padding: 0px 10px;
  margin: 5px 5px 2px 5px;
}

#bluetooth { 
  color: #85c1dc;
  border-radius: 20px;
  padding: 0px 10px;
  margin: 5px 5px 2px 5px;
}

#battery {
  color: #ca9ee6;
  border-radius: 20px;
  padding: 0px 10px;
  margin: 5px 5px 2px 5px;
}

#battery.charging, #battery.plugged {
  color: #a6d189;
}

#battery.critical:not(.charging) {
  color: #e78284;
}

#clock {
  color: #e5c890;
  border-radius: 20px;
  padding: 0px 10px;
  margin: 5px 5px 2px 5px;
}
