configuration {
    show-icons: true;
    display-combi: "Applications";
    disable-history: false;
    modi: "combi,ssh";
    sidebar-mode: true;
    combi-modi: "window,drun";
}

@theme "~/.config/rofi/DarkBlue.rasi"
